<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="TestCredentialsKey_Route53" value="c03879d7-7c35-4f17-9f8e-cdd2669bd9fb" />
  </appSettings>
</configuration>