<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="TestCredentialsKey_Route53" value="3b1b7666-efaa-47a8-850d-8b87783bc00b" />
  </appSettings>
</configuration>