<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ARSoft.Tools.Net" version="2.2.9" targetFramework="net452" />
  <package id="BouncyCastle" version="1.8.1" targetFramework="net452" />
  <package id="CommonServiceLocator" version="2.0.1" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights" version="2.4.0" targetFramework="net452" />
  <package id="Microsoft.Web.Administration" version="7.0.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="Portable.BouncyCastle" version="1.8.1.3" targetFramework="net452" />
  <package id="Serilog" version="2.5.0" targetFramework="net452" />
  <package id="Serilog.Sinks.File" version="4.0.0" targetFramework="net452" />
  <package id="System.Composition" version="1.1.0" targetFramework="net452" />
  <package id="System.Composition.AttributedModel" version="1.1.0" targetFramework="net452" />
  <package id="System.Composition.Convention" version="1.1.0" targetFramework="net452" />
  <package id="System.Composition.Hosting" version="1.1.0" targetFramework="net452" />
  <package id="System.Composition.Runtime" version="1.1.0" targetFramework="net452" />
  <package id="System.Composition.TypedParts" version="1.1.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.106.0" targetFramework="net452" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.4.1" targetFramework="net452" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net452" />
</packages>