<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- System.Text.Encodings.Web : Azure.Security.KeyVault.Certificates.ImportCertificateOptions tries to load old version -->
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>

      <!-- Azure resource manager references an old version of Azure Core but other azure libraries reference 1.32.0.0-->
      <dependentAssembly>
        <assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.44.0.0" newVersion="1.44.0.0"/>
      </dependentAssembly>

      <!-- Azure Core references an old version of System.Diagnostics.DiagnosticSource via  Azure.Identity > Azure.Core.Pipeline.DiagnosticScopeFactory 1.32.0.0-->
      <!-- application insights also references v5.0, so we overide that here and also reference 7.x in the service and the plugins.all -->
    <!--  <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.1.0" newVersion="8.0.1.0"/>
      </dependentAssembly>
      -->

      <!-- Azure resource manager references an old version of Microsoft.Bcl.AsyncInterfaces-->
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>

      <!-- Azure.Identity manager references 4.49.1 and Microsoft.Data.SqlClient references 4.47.2 -->
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.65.0.0" newVersion="4.65.0.0"/>
      </dependentAssembly>

    </assemblyBinding>
  </runtime>
</configuration>
