<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.1" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights" version="2.4.0" targetFramework="net452" />
  <package id="Microsoft.Composition" version="1.0.31" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="Serilog" version="2.5.0" targetFramework="net452" />
  <package id="Serilog.Sinks.File" version="4.0.0" targetFramework="net452" />
  <package id="System.Composition" version="1.1.0" targetFramework="net452" />
  <package id="System.Composition.AttributedModel" version="1.1.0" targetFramework="net452" />
  <package id="System.Composition.Convention" version="1.1.0" targetFramework="net452" />
  <package id="System.Composition.Hosting" version="1.1.0" targetFramework="net452" />
  <package id="System.Composition.Runtime" version="1.1.0" targetFramework="net452" />
  <package id="System.Composition.TypedParts" version="1.1.0" targetFramework="net452" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.4.1" targetFramework="net452" />
  <package id="System.Management.Automation" version="6.1.7601.17515" targetFramework="net452" />
  <package id="TaskScheduler" version="2.6.5" targetFramework="net452" />
</packages>