[Unit]
Description=Certify Management Hub API Service

[Service]
Type=notify
ExecStart=/usr/sbin/certifytheweb
WorkingDirectory=/opt/certifytheweb
Restart=always

[Install]
WantedBy=multi-user.target
