<?xml version="1.0" encoding="utf-8"?>
<!-- File name extension must be .runsettings -->
<RunSettings>
  <!-- Configurations that affect the Test Framework -->
  <RunConfiguration>
    <TestAdaptersPaths>$HOME/.nuget/packages/coverlet.collector/6.0.0/build/netstandard1.0;$HOME/.nuget/packages/coverlet.msbuild/6.0.0/build</TestAdaptersPaths>
    <TargetFrameworkVersion>net8.0</TargetFrameworkVersion>
    <ResultsDirectory>./TestResults-8_0-linux</ResultsDirectory>
    <CollectSourceInformation>true</CollectSourceInformation>
  </RunConfiguration>
  <!-- Configurations for data collectors -->
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage" uri="datacollector://Microsoft/CoverletCodeCoverage/1.0">
        <Configuration>
          <Format>cobertura</Format>
          <!-- [Assembly-Filter]Type-Filter -->
          <Include>[Certify.*]*,[Plugin.*]*</Include>
          <!-- [Assembly-Filter]Type-Filter -->
          <IncludeTestAssembly>false</IncludeTestAssembly>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
  <!-- Configuration for loggers -->
  <LoggerRunSettings>
    <Loggers>
      <Logger friendlyName="console" enabled="True">
        <Configuration>
          <Verbosity>normal</Verbosity>
        </Configuration>
      </Logger>
      <Logger friendlyName="trx" enabled="True" />
    </Loggers>
  </LoggerRunSettings>
</RunSettings>
